@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #323437;
  --text-color: #d1d0c5;
  --subtext-color: #646669;
  --main-color: #e2b714;
  background-color: var(--bg-color);
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}